@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

 /* #RESET */
 *, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li { list-style: none; }

a { text-decoration: none; }

a,
img,
span,
input,
label,
button,
ion-icon,
textarea { display: block; }

input {
  outline: none;
}

button, inpupt {
  border: none;
  background: none;
  font: inherit;
  cursor: pointer;
}

html {
  font-family: 'Poppins', sans-serif;
}

body {
  background: #2BC0E4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #EAECC6, #2BC0E4);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #EAECC6, #2BC0E4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}



/* HEADER */
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  padding: 14px;
  box-shadow: 1px 2px 5px hsla(0, 0%, 0%, 0.05);
  height: 70px;
  overflow: hidden;
  transition: 0.5s ease-in-out;
  z-index: 4;
  background: rgba(255, 255, 255, 0.27);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

#header.active { height: 330px; }

#header #container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#menu-toggle-btn { font-size: 30px; }

#navbar {
  position: absolute;
  width: 100%;
  top: 70px;
  left: 0;
  padding: 12px;
  visibility: hidden;
  opacity: 0;
  transition: .5s ease-in-out;
}

#header.active #navbar {
  visibility: visible;
  opacity: 1;
}

#navbar-link,
#header-action-link {
  color: hsl(0, 4%, 21%);
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  padding: 8px;
}

:is(#navbar-link, #header-action-link):is(:hover, :focus) { color: rgb(36, 98, 255); }

#section-title { text-align: center; }

#section-text {
  color: hsl(244, 17%, 61%);
  font-size: 15px;
  line-height: 1.7;
  text-align: center;
}

.ionicon-fill-none {
  fill: none;
}


.instant-search {
  position: relative;
  max-width: 250px;
  margin: 200px auto;
  background: rgba( 255, 255, 255, 0.35 );

}

.instant-search,
.instant-search__input {
  font-family: sans-serif;
}

.instant-search,
.instant-search * {
  transition: background 0.15s, box-shadow 0.15s;
}

.instant-search:focus-within {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.instant-search--loading::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  background: #009578;
  border-radius: 5px;
  animation: searchIndicator 0.5s infinite ease-in-out;
}

@keyframes searchIndicator {
  0% {
    width: 15%;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 15%;
  }
}





.content {
  margin: 150px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 25px;
}

.container-02 {
	position: relative;
	align-items: center;
	height: 200px;
  margin-bottom: 20px;
}

.container-02 .glassmorphic-card {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	z-index: 1;
	width: 320px;
	height: 200px;
	margin: 28px;
	box-shadow: 20px 20px 50px rgba(0,0,0, 0.5);
	border-radius: 15px;
	border-top: 1px solid rgba(255,255,255,0.5);
	border-left: 1px solid rgba(255,255,255,0.5);
	background: rgba(255,255,255,0.1);
	backdrop-filter: blur(5px);
	overflow: hidden;
}
.container-02 .glassmorphic-card .imgBox {
	position: relative;
	text-align: center;
}
.container-02 .glassmorphic-card .imgBox i {
	font-size: max(80px);
	color: rgba(255,255,255, 0.1);
}
.container-02 .glassmorphic-card .contentBox {
	position: relative;
	margin-top: 0px;
	text-align:center;
	transition: 0.5s;
}

.container-02 .glassmorphic-card .contentBox h3 {
	font-size: 1.3em;
	color: hsl(0, 0%, 35%);
	z-index: 1;
}
.container-02 .glassmorphic-card .contentBox p {
	font-size: em;
	color: hsl(0, 0%, 35%);
	font-weight: 300;
}
.container-02 .glassmorphic-card .contentBox a {
	position: relative;
	display: inline-block;
	padding: 8px 20px;
	margin-top: 15px;
  background: #cbe0e986;
	border-top: 1px solid rgba(255,255,255,0.1);
	border-left: 1px solid rgba(255,255,255,0.1);
	color: #000;
	border-radius: 20px;
	text-decoration: none;
	font-weight: 500;
	box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
.container-02 p {
	z-index: 12;
	margin: 20px auto 10px;
	position: relative;
	color: #fff;
}



.contain { margin-top: 100px; }



/* BUTTON */

.cont {
  position: relative;
  margin:20px auto;
  width: 500px;
}

.srchFld {
  border: 0;
  border-radius:7px;
  padding: 0 17px;
  padding-right:55px;
  margin-right: 5px;
  display:inline-block;
  float:left;
  width:380px;
  border-bottom:5px solid #bdc3c7;
  height: 60px;
  font-family: 'Roboto', sans-serif;
  color: #7f8c8d;
  font-size:19px; 
}

.srchFld:focus {
  outline-color: rgba(white,0);
}



.srchBtn {
  display: block;
  font-size: 15px;
  font-weight: 700;
  padding: 15px 30px;
  border-radius: 4px;
  transition: 0.25s ease;
}

.srchBtn:is(:hover, :focus) { transform: translateY(-2px); }

.srchBtn {
  background: rgb(36, 98, 255);
  color: #fff;
  padding: 15px 30px;
  text-align: center;
}

.srchBtn a {
  color:#fff;
}

.srchBtn:is(:hover, :focus) {
  background: rgb(50, 20, 285);
  box-shadow: 0 3px 10px hsla(245, 67%, 59%, 0.5);
}

.ico {
  position: absolute;
  right:135px;
  top: 13px;
  font-size:35px;
  color:#7f8c8d;
}






.contact {
  border-bottom:2px solid rgb(200,200,200);
  border-bottom-style:dashed;
  padding: 15px;
  height: 180px;
  
}

.wrapr {
  width: 600px;
  margin: 0 auto;
}

.imgWrpr {
  float:left;
  height: 150px;
  width: 150px;
  border-radius:80px;
  overflow:hidden;
  border:10px solid #eee;
}

.contact img {
  height: 150px;
  width: auto;
}

.contactInfo {
  display:inline-block;
  float:left;
  padding: 30px;
  font-size:25px;
  color:rgb(80,80,80);
  font-family: 'Voces', cursive;
  
}

.name {
  font-size:35px;
}


.animate-enter, 
.animate-leave
{ 
 @include transition (400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all);
  position: relative;
  display: block;
} 

.animate-enter.animate-enter-active, 
.animate-leave {
  opacity: 1;
  
}

.animate-leave.animate-leave-active,
.animate-enter {
  opacity: 0;
  
}




@media (min-width: 992px) {

  /* header */

  #header {
    overflow: visible;
    height: unset;
  }

  #header.active { height: unset; }

  #menu-toggle-btn { display: none; }

  #navbar {
    position: static;
    visibility: visible;
    opacity: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 60px;
    flex-direction: column-reverse;
  }

  #navbar a {
    color: hsl(0, 3%, 32%);
		font-weight: 500;
  }

  #navbar-list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    gap: 14px;
  }

  #header-actions {
    display: flex;
    align-items: center;
    gap: 14px;
  }

  #header #container {
    margin: auto;
    max-width: 1000px;;
  }

}



